n8n-workflows/status-notification.json
{
  "name": "Join Status Notification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "task-status-change",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "task-status-change"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.creator?.type }}",
              "operation": "equal",
              "value2": "external"
            }
          ]
        }
      },
      "id": "check-external-creator",
      "name": "Is External Creator?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body;\n\n// Status label mapping\nconst statusLabels = {\n  'triage': 'Triage',\n  'to-do': 'To Do',\n  'in-progress': 'In Progress',\n  'await-feedback': 'Awaiting Feedback',\n  'done': 'Done'\n};\n\n// Priority label mapping\nconst priorityLabels = {\n  1: 'Low',\n  2: 'Medium',\n  3: 'Urgent'\n};\n\n// Category label mapping\nconst categoryLabels = {\n  'tt': 'Technical Task',\n  'us': 'User Story'\n};\n\nconst previousStatus = statusLabels[data.previousStatus] || data.previousStatus;\nconst newStatus = statusLabels[data.newStatus] || data.newStatus;\nconst priority = priorityLabels[data.prio] || 'Medium';\nconst category = categoryLabels[data.category] || 'User Story';\nconst dueDate = data.due_date || 'Not set';\n\n// Format subtasks\nlet subtasksText = '';\nlet subtasksHtml = '';\nif (Array.isArray(data.subtasks) && data.subtasks.length > 0) {\n  subtasksText = data.subtasks.map(st => (st.status === 1 ? '[x] ' : '[ ] ') + st.name).join('\\n');\n  subtasksHtml = '<tr><td style=\\'padding:10px 12px;font-weight:bold;color:#666;border-bottom:1px solid #eee;vertical-align:top;width:130px;\\'>Subtasks</td><td style=\\'padding:10px 12px;border-bottom:1px solid #eee;\\'><ul style=\\'margin:0;padding-left:18px;\\'>' + data.subtasks.map(st => '<li>' + (st.status === 1 ? '<s>' + st.name + '</s> &#10003;' : st.name) + '</li>').join('') + '</ul></td></tr>';\n}\n\n// Format assigned to\nlet assignedText = 'Unassigned';\nlet assignedHtml = '';\nif (data.assigned_to && typeof data.assigned_to === 'object' && Object.keys(data.assigned_to).length > 0) {\n  const names = Object.values(data.assigned_to);\n  assignedText = names.join(', ');\n  assignedHtml = '<tr><td style=\\'padding:10px 12px;font-weight:bold;color:#666;border-bottom:1px solid #eee;width:130px;\\'>Assigned To</td><td style=\\'padding:10px 12px;border-bottom:1px solid #eee;\\'>' + assignedText + '</td></tr>';\n}\n\n// Determine if this is a completion notification\nconst isCompleted = data.newStatus === 'done';\n\nconst creatorName = data.creator?.name || 'Unknown';\nconst creatorEmail = data.creator?.email;\nconst descHtml = (data.taskDescription || '').replace(/\\n/g, '<br/>');\n\n// Build status update email HTML\nconst statusBadgeColor = isCompleted ? '#7AE229' : '#29ABE2';\nconst statusTitle = isCompleted ? 'Request Completed' : 'Status Update';\nconst statusMessage = isCompleted\n  ? 'Great news! Your request has been completed.'\n  : 'The status of your request has been updated.';\nconst statusFooter = isCompleted\n  ? 'If you have any questions or need follow-up assistance, please reply to this email or create a new request.'\n  : 'You will receive another notification when the status changes again.';\n\nconst emailHtml = '<div style=\\'font-family:Arial,sans-serif;max-width:600px;margin:0 auto;\\'>' +\n  '<div style=\\'background:#2A3647;padding:24px;text-align:center;border-radius:8px 8px 0 0;\\'>' +\n  '<h1 style=\\'color:white;margin:0;font-size:20px;\\'>' + statusTitle + '</h1>' +\n  '</div>' +\n  '<div style=\\'padding:24px;background:white;border:1px solid #e0e0e0;\\'>' +\n  '<p style=\\'font-size:16px;\\'>Hello ' + creatorName + ',</p>' +\n  '<p>' + statusMessage + '</p>' +\n  '<table style=\\'width:100%;border-collapse:collapse;margin:16px 0;\\'>' +\n  '<tr><td style=\\'padding:10px 12px;font-weight:bold;color:#666;border-bottom:1px solid #eee;width:130px;\\'>Ticket ID</td><td style=\\'padding:10px 12px;border-bottom:1px solid #eee;\\'>' + (data.taskId || '') + '</td></tr>' +\n  '<tr><td style=\\'padding:10px 12px;font-weight:bold;color:#666;border-bottom:1px solid #eee;\\'>Title</td><td style=\\'padding:10px 12px;border-bottom:1px solid #eee;\\'>' + (data.taskName || '') + '</td></tr>' +\n  (isCompleted ? '' : '<tr><td style=\\'padding:10px 12px;font-weight:bold;color:#666;border-bottom:1px solid #eee;\\'>Previous Status</td><td style=\\'padding:10px 12px;border-bottom:1px solid #eee;\\'>' + previousStatus + '</td></tr>') +\n  '<tr><td style=\\'padding:10px 12px;font-weight:bold;color:#666;border-bottom:1px solid #eee;\\'>Status</td><td style=\\'padding:10px 12px;border-bottom:1px solid #eee;\\'><span style=\\'background:' + statusBadgeColor + ';padding:2px 10px;border-radius:4px;font-size:13px;\\'>' + newStatus + '</span></td></tr>' +\n  '<tr><td style=\\'padding:10px 12px;font-weight:bold;color:#666;border-bottom:1px solid #eee;\\'>Priority</td><td style=\\'padding:10px 12px;border-bottom:1px solid #eee;\\'>' + priority + '</td></tr>' +\n  '<tr><td style=\\'padding:10px 12px;font-weight:bold;color:#666;border-bottom:1px solid #eee;\\'>Due Date</td><td style=\\'padding:10px 12px;border-bottom:1px solid #eee;\\'>' + dueDate + '</td></tr>' +\n  '<tr><td style=\\'padding:10px 12px;font-weight:bold;color:#666;border-bottom:1px solid #eee;\\'>Category</td><td style=\\'padding:10px 12px;border-bottom:1px solid #eee;\\'>' + category + '</td></tr>' +\n  assignedHtml +\n  subtasksHtml +\n  '</table>' +\n  '<div style=\\'background:#f8f9fa;padding:16px;border-radius:4px;margin:16px 0;\\'>' +\n  '<strong>Description:</strong><br/>' + descHtml +\n  '</div>' +\n  '<p style=\\'color:#888;font-size:14px;\\'>' + statusFooter + '</p>' +\n  '</div>' +\n  '<div style=\\'padding:16px 24px;background:#f4f4f4;text-align:center;border-radius:0 0 8px 8px;\\'>' +\n  '<p style=\\'color:#888;font-size:12px;margin:0;\\'>Join Team</p>' +\n  '</div></div>';\n\n// Build plain text version\nlet emailText = statusTitle + '\\n\\nHello ' + creatorName + ',\\n\\n' + statusMessage + '\\n\\n';\nemailText += 'Ticket ID: ' + (data.taskId || '') + '\\n';\nemailText += 'Title: ' + (data.taskName || '') + '\\n';\nif (!isCompleted) emailText += 'Previous Status: ' + previousStatus + '\\n';\nemailText += 'Status: ' + newStatus + '\\n';\nemailText += 'Priority: ' + priority + '\\n';\nemailText += 'Due Date: ' + dueDate + '\\n';\nemailText += 'Category: ' + category + '\\n';\nif (assignedText !== 'Unassigned') emailText += 'Assigned To: ' + assignedText + '\\n';\nif (subtasksText) emailText += '\\nSubtasks:\\n' + subtasksText + '\\n';\nemailText += '\\nDescription:\\n' + (data.taskDescription || '') + '\\n\\n';\nemailText += statusFooter + '\\n\\n---\\nJoin Team';\n\nreturn {\n  taskId: data.taskId,\n  taskName: data.taskName,\n  taskDescription: data.taskDescription,\n  previousStatus: previousStatus,\n  newStatus: newStatus,\n  priority: priority,\n  dueDate: dueDate,\n  category: category,\n  creatorName: creatorName,\n  creatorEmail: creatorEmail,\n  isCompleted: isCompleted,\n  emailHtml: emailHtml,\n  emailText: emailText,\n  emailSubject: isCompleted ? 'Your Request Has Been Completed: ' + (data.taskName || '') : 'Status Update: ' + (data.taskName || ''),\n  updatedAt: new Date().toISOString()\n};"
      },
      "id": "prepare-notification-data",
      "name": "Prepare Notification Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isCompleted }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-completed",
      "name": "Is Task Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Join Team <onboarding@resend.dev>\",\n  \"to\": [\"{{ $json.creatorEmail }}\"],\n  \"subject\": {{ JSON.stringify($json.emailSubject) }},\n  \"html\": {{ JSON.stringify($json.emailHtml) }},\n  \"text\": {{ JSON.stringify($json.emailText) }}\n}"
      },
      "id": "send-completion-email",
      "name": "Send Completion Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 100],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_RESEND_CREDENTIAL_ID",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Join Team <onboarding@resend.dev>\",\n  \"to\": [\"{{ $json.creatorEmail }}\"],\n  \"subject\": {{ JSON.stringify($json.emailSubject) }},\n  \"html\": {{ JSON.stringify($json.emailHtml) }},\n  \"text\": {{ JSON.stringify($json.emailText) }}\n}"
      },
      "id": "send-status-update-email",
      "name": "Send Status Update Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_RESEND_CREDENTIAL_ID",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Notification sent', taskId: $('Prepare Notification Data').first().json.taskId }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'No notification needed - internal creator', taskId: $json.body.taskId }) }}"
      },
      "id": "respond-skipped",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Is External Creator?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is External Creator?": {
      "main": [
        [
          {
            "node": "Prepare Notification Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notification Data": {
      "main": [
        [
          {
            "node": "Is Task Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Task Completed?": {
      "main": [
        [
          {
            "node": "Send Completion Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Status Update Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Completion Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Status Update Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-17T12:00:00.000Z",
  "versionId": "3"
}
